body {
   background-color:#bccb78;
}

.nav-link {
    padding: 0px 10px 0px 10px;
    display: block;
    float: left;
    border-right: 1px solid #000;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 50px;
    margin-top: 10px;
    background-color: #5fa626;
}

#navbarNavAltMarkup {
  background-color: #5fa626;
}


#slogan {
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: #000;
    font-size: x-large;
}

.logo {

margin-top:35px;
padding-right:50px;

}


.row {

  background-color: white;

}
